<h1 style="text-align: center"><%= @user.screen_name %>さんの提出コード一覧</h1>
<div class="panel panel-default">
  <div class="panel panel-heading">
    <h3 style="text-align: center"><%= @question.title %></h3>
  </div>
  <div class="panel panel-body">
    <% @results.each do |result| %>
      <pre>
        <%= result.code %>
      </pre>
      <p>
        <label>言語</label>
        <%= result.language %>
      </p>
      <p>
        <label>解答結果</label>
        <% if result.answer %>
          <span style="color: green">正解</span>
        <% else %>
          <span style="color: red">不正解</span>
        <% end %>
      </p>
      <hr />
    <% end %>
  </div>
</div>
