<h1>管理者画面</h1>
<p>
  <%= link_to "問題管理画面", questions_path, class: "btn btn-info" %>
</p>
<h3 style="margin-top: 1em">ユーザ一覧</h3>
<table class="table">
  <thead>
    <tr>
      <td>アカウントID</td>
      <td>ユーザネーム</td>
      <td>権限</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @users.each do |user| %>
        <td><%= link_to user.screen_name, admin_path(user) %></td>
        <td><%= user.user_name %></td>
        <% if user.is_admin %>
          <td>管理者</td>
        <% else %>
          <td>ユーザ</td>
        <% end %>
      <% end %>
    </tr>
  </tbody>
</table>
