<h1 style="text-align: center">解答状況</h1>
<table class="table">
  <thead>
    <tr>
      <td>問題名</td>
      <td>解答数</td>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
  <tr>
      <td><%= link_to question.title, result_path(question) %></td>
      <td><%= question.results.count %></td>
  </tr>
    <% end %>
  </tbody>
</table>
