<h1 style="text-align: center">解答状況</h1>
<h3 style="text-align: center"><%= @question.title %></h1>
<table class="table">
  <thead>
    <tr>
      <td>問題タイトル</td>
      <td>提出コード</td>
      <td>解答結果</td>
      <td>解答時刻</td>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= link_to Question.find(result.question_id).title,
          lesson_path(result.question_id) %></td>
        <td><%= link_to "詳細", code_path(@question, result) %></td>
        <% if result.answer %>
          <td style="color: green">正解</td>
        <% else %>
          <td style="color: red">不正解</td>
        <% end %>
        <td><%= result.created_at.in_time_zone('Tokyo') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
