<!-- ace editor -->
<div id="source_code" style="height: 400px; width: 100%"></div>

<!-- 標準入出力 -->
<h3>実行言語 :
  <select id="language" class="btn btn-default">
    <option value="Ruby">Ruby</option>
    <option value="Python">Python</option>
    <option value="C">C</option>
  </select>
</h3>
<h3>標準入力</h3>
<textarea name="input" id="input" class="form-control" rows="7"></textarea>
<button type="button" id="run_button" class="btn btn-primary" style="margin-top:1em">
  <font size="2">実行</font>
</button>
<h3>標準出力</h3>
<pre>
    <div id="stdout"></div>
</pre>
<h4>終了コード</h4>
<pre>
    <div id="exit_code"></div>
</pre>
<h4>エラーメッセージ</h4>
<pre>
    <div id="stderr"></div>
</pre>
<h4>実行時間</h4>
<pre>
    <div id="time"></div>
</pre>

<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js'%>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ext-language_tools.js'%>
<%= javascript_include_tag 'ui.js' %>
<%= javascript_include_tag 'run.js' %>
