<div style="
     background-image : url('/images/codecandy-code.png');
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     background-color: white; ">
  <div class="row" style="background-color: rgba(255, 255, 255, 0.7)">
    <h1 style="text-align: center">CodeCandy</h1>
    <p style="text-align: center">～ プログラミングを始めよう ～</p>
    <div style="text-align: center">
      <%= link_to "Twitterアカウントを利用して今すぐ始める",
        "/auth/twitter",
        class: "btn btn-primary",
        style: "text-align: center"
      %>
    </div>
    <div class="col-lg-4">
      <h3>CodeCandyとは</h3>
      <p>
        CodeCandyとは、ブラウザ上でプログラミングを始められるWebサイトです。
        プログラムを記述するためのエディタも用意されており、
        このサイトだけでプログラミングをはじめることができます。
      </p>
    </div>
    <div class="col-lg-4">
      <h3>自由にプログラミング?問題に取り組む?</h3>
      <p>
        CodeCandyでは、自由にプログラミングをして、自分の思った通りものを作ることも可能ですが、
        予め用意されている問題を解いて、自分の技術力をアップさせることも可能です。
      </p>
    </div>
    <div class="col-lg-4">
      <h3>複数の言語に対応</h3>
      <p>
        Ruby,C,Pythonの実行環境を用意してあります。
        開発環境を作成する手間を省いて、学習を始めることができます。
        随時その他の言語にも対応させていく予定です。
      </p>
    </div>
  </div>
    <div class="row" style="background-color: rgba(255, 255, 255, 0.7)">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6" style="background-color: white">
      <h2 style="text-align: center">お知らせ</h2>
      <a class="twitter-timeline" href="https://twitter.com/codecandyadmin?ref_src=twsrc%5Etfw">Tweets by codecandyadmin</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-lg-3">
    </div>
  </div>
</div>
